@model IEnumerable<ComfyLearn.Models.FAQ>

@{
    ViewData["Title"] = "FAQ";
    Layout = "_LayoutAdmin";
}

<h1>FAQ (Frequently Asked Questions)</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pitanje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Odgovor)
            </th>
          
            <th>Akcija</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Pitanje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Odgovor)
            </td>
           
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i></a>
                <a class=" btn btn-danger" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
