@page
@model ComfyLearn.Views.Admin.IndexModel

@{
//ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].Naziv)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].Opis)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].Trajanje)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].BrojLekcija)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].Certifikat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].korisnik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].kategorija)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].DatumKreiranja)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].jezik)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Course[0].Cijena)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Course) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Trajanje)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrojLekcija)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Certifikat)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.korisnik.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kategorija.Naziv)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DatumKreiranja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.jezik.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cijena)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
